@import 'reset';

@import '../widget/header';
@import '../widget/footer';
@import '../widget/icons';

body{
	background:#faf9f5;
	line-height: 1.2;
}

.clearfix:after{
    content:'';
    clear:both;
    overflow:hidden;
    height:0; 
    display:block; 
}
html,a,input,textarea,.notapcolor{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

.hide{
	display: none;
}
.load-more{
	margin: 10px 0;
	text-align: center;
	color: #61cba0;
}
.m-box{

}
