.common-footer{
	height:55px;
	padding-top: 20px;
	text-align:center;
	font-size: 14px;
	background: #f0eee9;
	border-top: 1px solid #e8e8e8;
	ul{
		color:#6f6f6f;
		li{
			height:22px;
			line-height:22px;
			display:inline-block;
			margin-right:10px;
			a{
				color:#6f6f6f;
				text-decoration: none;
			}
		}
	}
	div{
		color:#d0cfce;
		margin: 10px 0 20px;
	}
}
